/* common styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
/* navbar and page styles */
.header {
  background-color: rgba(255, 144, 14, 0.1);
}
.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 240px;
  padding-right: 240px;
}
nav > ul {
  display: flex;
  gap: 60px;
}
.page-name {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
}
li {
  list-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #424242;
}
/* banner styles */
.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-title,
.banner-description {
  text-align: center;
}
.banner-title {
  padding-top: 102px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
}
.banner-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  padding-bottom: 32px;
}
.btn-explore {
  background: #ff900e;
  border-radius: 8px;
  width: 180px;
height: 64px;
  border-style: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 50px;
}
.banner-img{
    margin-bottom: 45px;
    width: 100%;
}
